<!DOCTYPE html>
<html lang ="en">
  <head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="../assets/stylesheets/index.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1> Mentor Management System </h1>
    <section>
      <h2> Please click on buttons below to go to sprint respective page </h2>
      <table>
        <tbody>
          <tr>
            <td><button onclick="window.location.href = '/Sprint1';"> Sprint 1 </button></td>
            <td><button onclick="window.location.href = '/Sprint2';"> Sprint 2 </button></td>
          </tr>
        </tbody>
      </table>
    </section>
  </body>
</html>
